name: Injetar variável API_5HORAS

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Criar pasta de build
        run: mkdir build

      - name: Copiar arquivos para build
        run: |
          cp -R ./* ./build/ || true

      - name: Injetar variável API_5HORAS
        run: find build -type f -name "*.html" -exec sed -i "s|__API_5HORAS__|${API_5HORAS}|g" {} +
        env:
          API_5HORAS: ${{ secrets.API_5HORAS }}

      - name: Publicar na branch gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: build
